{# empty Twig template #}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }} - {{ subtitle }}{% endblock %}</title>
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/jqueryui/jquery-ui.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}Hallo Welt{% endblock %}
  </body>
</html>